.form-type-textfield,
.form-type-select {
  display: inline	;
}

.clearall {
  clear: both;
}

#mcoc-mass-upload-form .form-item input,
#mcoc-mass-upload-form .form-item label {
  display: inline-block;
  max-width: 105px;
  padding-left: 5px;
}

#mcoc-mass-upload-form div.description {
  display: none;
}

.container-inline-date div#edit-bg-1-date,
.container-inline-date div#edit-bg-2-date,
.container-inline-date div#edit-bg-3-date,
div.container-inline-date .form-item-bg-1-date-date,
div.container-inline-date .form-item-bg-2-date-date,
div.container-inline-date .form-item-bg-3-date-date {
  padding: 0px;
}

div.form-item-date-date label {
  font-size: 14px;	
}

.form-type-textfield input {
  height: 33px;		
}

.form-item-bg-1-day,
.form-item-bg-2-day,
.form-item-bg-3-day,
.form-item-bg-1-explored,
.form-item-bg-2-explored,
.form-item-bg-3-explored,
.form-item-bg-1-map,
.form-item-bg-2-map,
.form-item-bg-3-map,
.container-inline-date {
  display: inline;
}

.form-item label {
  margin-left: 20px;
}

#mcoc-mass-upload-form .form-item-bg-1-boss,
#mcoc-mass-upload-form .form-item-bg-2-boss,
#mcoc-mass-upload-form .form-item-bg-3-boss {
  margin-top: 10px;
}

#mcoc-mass-upload-form .form-item-bg-1-boss label,
#mcoc-mass-upload-form .form-item-bg-2-boss label,
#mcoc-mass-upload-form .form-item-bg-3-boss label {
  display: inline-block;
  width : 125px;
  max-width : 150px;
}

#edit-bg-1-boss,
#edit-bg-2-boss,
#edit-bg-3-boss {
  display: inline-block;
}

#mcoc-mass-upload-form .form-item-bg-1-boss .form-type-checkbox,
#mcoc-mass-upload-form .form-item-bg-2-boss .form-type-checkbox,
#mcoc-mass-upload-form .form-item-bg-3-boss .form-type-checkbox {
	display: inline-block;
}

#mcoc-mass-upload-form .form-item-bg-1-boss .form-type-checkbox label,
#mcoc-mass-upload-form .form-item-bg-2-boss .form-type-checkbox label,
#mcoc-mass-upload-form .form-item-bg-3-boss .form-type-checkbox label {
  width: 50px;
}

.form-submit {
	margin-top: 15px;
}

#mcoc-mass-upload-form .form-item-bg-1-boss label,
#mcoc-mass-upload-form .form-item-bg-2-boss label,
#mcoc-mass-upload-form .form-item-bg-3-boss label {
  width: 150px;
  padding-top: 10px;
}