.mcoc-avg-table,
.mcoc-misses-table {
  width: 44%;
  display: inline-block;
  margin-right: 5%;
}

.mcoc-point-chart {
  height: 400px;
  margin-top: 5px;
}
h1#page-title {
  display: none;
}